<div class="section">
    <h2><div class="line"></div><i class="icon fa fa-briefcase"></i>portfolio</h2>
    <div class="projects">
        <div class="item">
            <a href="https://socketio-stocks.vercel.app/" target="_blank">
                <h3>Stock Dashboard</h3>
                <img src="../../assets/stocksio.png" alt="stocksio-project">
                <p>A dashboard application to monitor stocks. Complete with google login and custom settings.</p>
            </a>
        </div>
        <div class="item">
            <a href="https://socketio-game.vercel.app/" target="_blank">
                <h3>Fruit Escape</h3>
                <img src="../../assets/fruit-escape.png" alt="fruitescape-project">
                <p>A multiplayer web game built with HTML5 Canvas & Socket.io. Invite at least 1 friend to your lobby and click START. Dodge the fruit and win by being the last person alive. </p>
            </a>
        </div>
        <div class="item">
            <a href="https://chat-io-eight.vercel.app/" target="_blank">
                <h3>Chat Application</h3>
                <img src="../../assets/chatio.png" alt="chatio-project">
                <p>A lobby-based chat application built with Socket.io. Invite your friends to a lobby and let the chatting begin.</p>
            </a>
        </div>
        <div class="item">
           
        </div>
    </div>
</div>