<div class="section">
    <h2><div class="line"></div>portfolio</h2>
    <div class="projects row">
        <div class="item">
            <a href="https://socketio-stocks.vercel.app/" target="_blank">
                <img src="../../assets/stocksio.png" alt="stocksio-project">
                <h3>Stock Dashboard</h3>
            </a>
        </div>
        <div class="item">
            <a href="https://socketio-game.vercel.app/" target="_blank">
                <img src="../../assets/fruit-escape.png" alt="fruitescape-project">
                <h3>Fruit Escape</h3>
            </a>
        </div>
        <div class="item">
            <a href="https://chat-io-eight.vercel.app/" target="_blank">
                <img src="../../assets/chatio.png" alt="chatio-project">
                <h3>Chat Application</h3>
            </a>
        </div>
    </div>
</div>