<div class="bg"></div>
<div class="container1">
  <div class="main">
    <div class="sidebar border">
      <ul>
        <div class="nav-item" routerLink="about" routerLinkActive="active">
          <li><i class="fa fa-user"></i></li>
          <li class="nav-text">About</li>
        </div>
        <div class="nav-item" routerLink="skills" routerLinkActive="active">
          <li><i class="fa fa-code"></i></li>
          <li class="nav-text">Skills</li>
        </div>
        <div class="nav-item" routerLink="portfolio" routerLinkActive="active">
          <li><i class="fa fa-briefcase"></i></li>
          <li class="nav-text">Portfolio</li>
        </div>
        <div class="nav-item" routerLink="education" routerLinkActive="active">
          <li><i class="fa fa-graduation-cap"></i></li>
          <li class="nav-text">Education</li>
        </div>
      </ul>
    </div>
    <div class="card border">
      <div class="card-bg"></div>
      <img src="assets/profile_img.jpeg" alt="Chase Faggard" />
      <h1>Chase Faggard</h1>
      <p class="title">Front-End Developer, TalentPath</p>
      <p>Lamar University</p>
      <div class="links">
        <a href="https://github.com/ChaseFaggard" target="_blank"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-codepen"></i></a>
      </div>
      <p><button routerLink="contact">Contact</button></p>
    </div>
    <div class="content border">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>