<div class="bg"></div>
<div class="container1">
  <div class="main">
    <div class="sidebar border">
      <ul>
        <div class="nav-item" routerLink="about" routerLinkActive="active">
          <li class="nav-icon"><i class="fa fa-user-tie"></i></li>
          <li class="nav-text">about</li>
        </div>
        <div class="nav-item" routerLink="skills" routerLinkActive="active">
          <li class="nav-icon"><i class="fa fa-code"></i></li>
          <li class="nav-text">skills</li>
        </div>
        <div class="nav-item" routerLink="portfolio" routerLinkActive="active">
          <li class="nav-icon"><i class="fa fa-briefcase"></i></li>
          <li class="nav-text">portfolio</li>
        </div>
        <div class="nav-item" routerLink="education" routerLinkActive="active">
          <li class="nav-icon"><i class="fa fa-graduation-cap"></i></li>
          <li class="nav-text">education</li>
        </div>
      </ul>
    </div>
    <div class="card border">
      <div class="card-bg"></div>
      <img src="assets/pic4.jpg" alt="Chase Faggard" />
      <h1>Chase Faggard</h1>
      <p class="title italic">Front-End Developer Consultant</p>
      <a href="https://www.talentpath.com/" target="_blank" class="title"><span class="highlight">TalentPath</span></a>
      <div class="links">
        <a href="https://github.com/ChaseFaggard" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/chase-faggard-0948a2114/"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-codepen"></i></a>
      </div>
      <p><button routerLink="contact">Contact</button></p>
    </div>
    <div class="content border">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>